---
const { title } = Astro.props;

import TopBar from "../components/Topbar.astro";


const description = "Kerala Startup Mission is the central agency of the Government of Kerala for entrepreneurship development and incubation activities in Kerala, India.";
const url = "https://startupmission.kerala.gov.in/";

---

<!DOCTYPE html>

<html lang="zxx" dir="ltr">

<head>
    <meta charset="utf-8" />
    <title>Rink</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <!--Fav icon-->
    <link rel="icon" type="image/png" sizes="16x16" href="img/rink.svg">
    <!-- datepikar plugin -->
    <link rel="stylesheet" type="text/css" href="css/jquery-ui.css">
    <!--animate css-->
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <!--bootstrap css-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!--fonts css-->
    <link rel="stylesheet" type="text/css" href="css/fonts.css" />
    <!--font-awesome css-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css" />
    <!-- carousal css -->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="css/owl.theme.default.min.css">
    <!-- custom css-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <!--favicon-->

   
    <link rel="stylesheet" href="css/shortcode.css">
   
</head>
	<body>
		<slot />

	<script src="js/jquery-3.6.0.min.js" is:inline></script>
    <script src="js/jquery-ui.js" is:inline></script>
    <script src="js/bootstrap.min.js" is:inline></script>
    <script src="js/owl.carousel.min.js" is:inline></script>
    <script src="js/jquery.magnific-popup.js" is:inline></script>
    <script src="js/shortcode.js" is:inline></script>
    <script src="js/custom.js" is:inline></script>


	
    <script src="js/jquery.easypiechart.min.js" is:inline></script>
    <script src="js/jquery.inview.min.js" is:inline></script>
	</body>
</html>
